.video-time {
    padding: 0 4px;
    font-weight: bold;
    font-size: 11px;
    background-color: 
    #000;
    color: 
    #fff!important;
    height: 14px;
    line-height: 14px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    display: -moz-inline-stack;
    vertical-align: top;
    zoom: 1;
    display: inline-block;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    bottom: 18px;
    right: 4px;
    float: right;
}

.videoBox {
    padding-bottom: 10px;
}

.videoRow, .loading {
    margin: 20px 0 0 0;
}

#channelSelector {
    margin-left: 15px;
}

a {
    cursor: pointer;
}

.loading {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}